<template>
    <div class="banner">
        <div class="dots">
            <div class="dots__item" :class="{'active': activeDot === 0}"></div>
            <div class="dots__item"></div>
            <div class="dots__item"></div>
        </div>
        <div class="banner__left">
            <div class="topOffer">
                Top Offer
            </div>
            <h3>
            <span>New</span>
             Oils you can trust!</h3>

            <div class="cta">
                <button class="shopNow">Shop now</button>
            </div>

        </div>
        <div class="banner__img">
            <img src="../../assets/tarcza.jpg" alt="">
        </div>
        <div class="banner__right">
            <Gallery />
        </div>
    </div>

</template>

<script>
import Gallery from '@/components/home/Gallery'
export default {
    components: {
        Gallery
    },
    data() {
        return {
            activeDot : 0
        }
    }
}
</script>
<style lang="scss">
    .topOffer {
        background: $red;
        border: 0.2rem solid $red;
        color: white;
        width: fit-content;
        padding: 10px 20px;
        font-weight: 600;
        border-radius: 999px;
    }

    .dots {
        position: absolute;
        left: 0;
        top: 45px;
        display: flex;

        &__item {
            height: 5px;
            width: 5px;
            border: 0.2rem solid $darkBlue;
            margin: 0 5px;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
            }
            
            &.active {
                background: $darkBlue;
            }
        }
    }
    .banner {
        position: relative;
        display: flex;
        flex-direction: column;

        &__left {
            padding-top: 150px;

            h3 {
                font-family: 'Montserrat', sans-serif;
                color: $darkBlue;
                font-weight: 800;

                @include lg {
                    font-size: 46px;
                }   
            }

            span {
                display: block;
                color: $red;
            }
        } 

        &__img {
            position: absolute;
            right: -50px;
            z-index: -1;
            
            img {
                max-width: 250px;
                
                @include lg {
                    max-width: 350px;
                    padding-top: 50px;
                }
            }
        }
    }

</style>
