<template>
    <div class="gallery">
        <div class="gallery__item">
            <img src="../../assets/1.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="../../assets/2.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="../../assets/3.png" alt="">
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        position: relative;
        margin-top: 20px;

        @include lg {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        &__item {
            padding: 20px;
            transition: .3s;
            overflow: hidden;

            img {
                transition: .3s;
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.2);
                border-radius: 20px;
                
                img {
                    transform: scale(1.1);
                }
            } 
        }

        img {
            pointer-events: none;
            width: 100%;
        }
    }
</style>
