<template>
    <div class="manufacturesBox">
        <div class="container">
            <div class="manufacturesBox__header">
                <h1>Search Car Parts By Brand </h1>
                <div class="cta">
                    <button class="shopNow">All Brands</button>
                </div>
            </div>
            <div class="manufactures">
                <button
                v-for="(manufactre, index) in cars"
                :key="index"
                >
                <img :src="manufactre.logo" :alt="manufactre.name">
                </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    computed: {
        cars() {
            return [
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/abarth1.png",
    "name": "Abarth"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/ac-cars.png",
    "name": "AC"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/acura.png",
    "name": "Acura"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/aixam.png",
    "name": "Aixam"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/alfa_romeo.png",
    "name": "Alfa Romeo"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/ariel.png",
    "name": "Ariel"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/10/arrinera-logo.png",
    "name": "Arrinera"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/aston_martin.png",
    "name": "Aston Martin"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/audi.png",
    "name": "Audi"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/bentley.png",
    "name": "Bentley"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/bmw.png",
    "name": "BMW"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/bugatti.png",
    "name": "Bugatti"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/buick.png",
    "name": "Buick"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/cadillac.png",
    "name": "Cadillac"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/marchedrs.png",
    "name": "Mercedes"
  },
  {
    "logo": "https://www.car-logos.org/wp-content/uploads/2011/09/chevrolet.png",
    "name": "Chevrolet"
  },
]
        }
    },
}
</script>

<style lang="scss" scoped>
    .manufacturesBox {
        background: $lightBlue;
        margin: 80px 0;
        padding-bottom: 40px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: 50px;
        }

        h1 {
            font-family: 'Montserrat', sans-serif;
            color: $darkBlue;
            font-weight: 800;
            margin: 0;
            
            @include lg {
                font-size: 32px;
            }
        }

        .shopNow {
            background: transparent;

            &:hover {
                background: $darkBlue;
            }
        }

        .cta {
            max-width: initial;
        }
    }

    .manufactures {
        margin: 80px 0 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 0;

        @include lg {
            grid-template-columns: repeat(8, 1fr);
        }

        button {
            padding: 10px;
            transition: .3s;
            // margin: 5px 0;

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }

            img {
                max-width: 100px;
                transition: .3s;
            }
        }
    }
</style>