<template>
    <div class="container">
        <div class="offers">
            <h2>{{title}}</h2>
            <div class="offers__box">
                <Offer />
                <Offer />
                <Offer />
                <Offer />
            </div>
        </div>
    </div>
</template>
<script>
import Offer from '@/components/home//offers/Offer'
export default {
    components: {
        Offer
    },
    props: ["title"],
}
</script>
<style lang="scss" scoped>
    .offers {
        margin: 70px 0 40px;
        
        h2 {
            font-family: 'Montserrat', sans-serif;
            color: $darkBlue;
            font-weight: 800;
            
            @include lg {
                font-size: 32px;
            }
        }

        &__box {
            display: grid;

            @include lg {
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
            }
        }
    }

</style>
