<template>
    <div class="container">
        <div class="tabs">
            <div class="tabs__item active">Car parts</div>
            <div class="tabs__item">Electric</div>
            <div class="tabs__item">Accessories</div>
        </div>
        <div class="tabView">
            <div v-for="(tab, index) in tabs" :key="index">
                <Tab :tab="tab"/>
            </div>
            <button class="showMore">Show more</button>
        </div>
    </div>
</template> 
<script>
import Tab from '@/components/home/tabs/Tab'
export default {
    components: {
        Tab 
    },
    data() {
        return {
            tabs: [
                {
                    'name': 'Break System',
                    'img': '4'
                },
                {
                    'name': 'Ignition and glowplug system',
                    'img': '5'
                },
                {
                    'name': 'Filters',
                    'img': '6'
                },
                {
                    'name': 'Engine',
                    'img': '7'
                },
                {
                    'name': 'Damping',
                    'img': '8'
                },
                {
                    'name': 'Suspension and arms',
                    'img': '10'
                },
                {
                    'name': 'Steering',
                    'img': '11'
                },
            ]
        }
    }
}
</script>
<style lang="scss" scoped>
    .tabs {
        margin: 40px 0 20px;
        display: flex;
        flex-direction: column;
        
        @include lg {
            flex-direction: row;
            margin: 40px 0;
        }

        &__item {
            padding: 10px 30px;
            color: $darkBlue; 
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            transition: .3s;
            margin: 5px 5px;
            border-radius: 10px;

            @include lg {
                margin: 0 5px;
            }

            &.active {
                // border-bottom: 0.2rem solid #212733;
                background: $blue;
                color: white;

                &:hover {
                    pointer-events: none;
                }
            }

            &:hover {
                background: $blue;
                color: white;
                cursor: pointer;
            }
        }
    }

    .tabView {
        margin-bottom: 30px;
        display: grid;

        @include lg {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
    }

    .showMore {
        background: $blue;
        color: white;
        border-radius: 20px;
        font-weight: bold;
        font-size: 18px;
        transition: .3s;
        font-family: 'Rubik', sans-serif;   
        padding: 10px;
        margin-top: 10px;

        @include lg {
            padding: initial;
            margin-top: initial;
        }

        &:hover {
            // background: #212733;
            background: $red;
        }
    }
</style>
