<template>
    <div class="rightMenu">
        <button v-if="name" class="rightMenu__user">
            <b  @mouseover="hover = true">Hi {{user.name}}, </b>
            <div class="rightMenu__user--expand" v-if="hover" @mouseleave="hover = false">
                <button @click="$router.push({ name: 'user', params: { id: user.id} })">
                    Profile
                </button>
                <button @click="logOut">
                    Log Out
                </button>
            </div>
        </button>
        <a href=""  v-if="name" >
            <Icon>directions_car</Icon>
        </a>
        <button @click="$emit('login', true)" v-if="!name">
            <Icon>person_outline</Icon> 
        </button>
        <a href="">
            <Icon>favorite_border</Icon>
        </a>
        <router-link :to="{name: 'shoppingList'}">
            <div class="badge">3</div>
            <Icon>shopping_cart</Icon> <b>R$ 235.99</b>
        </router-link>

    </div>
</template>
<script>
import Icon from '@/components/common/Icon'
import { mapState } from 'vuex'
import { LOG_OUT } from '@/graphql/user'
export default {
    components: {
        Icon
    },
    data() {
        return {
            name: false,
            expand: false,
            hover: false
        }
    },
    computed: {
        ...mapState('user', ['user',])
    },
    watch: {
        user: {
            deep: true, 
            immediate: true,
            handler(val) {
                if(val && Object.keys(val).length) {
                    // get user if its logged in deisplay name 
                    this.name = true
                } else {
                    this.name = false
                }
            }
        },
    },
    methods: {
        async logOut() {
            try {
                await this.$apollo.mutate({
                    mutation: LOG_OUT,
                    variables: {
                        id: this.user.id
                    }
                })

                this.expand = false
                this.$store.commit('user/SET_USER', {})
                this.$router.push({name: 'home'})

            } catch(er) {
                console.log(er)
            }
        }
    }
}
</script>
<style lang="scss" scoped>
    .rightMenu {
        display: flex;

        &__user {
            position: relative;

            &--expand {
                position: absolute;
                box-shadow: 0 0.1rem 0.4rem rgba(0,0,0, .1);
                background: #F4F6F6;
                z-index: 99;
                border-radius: 10px;
                top: 40px;

                button {
                    // border: 1px solid red;
                    width: 100%;
                    padding: 20px;
                    font-size: 16px;
                    text-align: left; 
                    color: #212F3C;
                    display: flex;
                    align-items: center;
                }
            }
        }

        a, b {
            color: $blue;
        }

        b {
            font-size: 22px;
            padding-left: 10px;
            white-space: nowrap;
            font-family: 'Rubik', sans-serif; 
        }

        a {
            display: flex;
            margin: 0 10px;
            position: relative;
            transition: .3s;

            &:hover {
                color: $red;
            }
        }

        button {
            transition: .3s;
            
            &:hover {
                color: $red;
            }
        }
    }

    .badge {
        position: absolute;
        top: -10px;
        left: 12px;
        background: $red;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

</style>