<template>
    <div class="search">
        <input type="text" placeholder="Digite sua busca">
        <button>Search</button>
    </div>
</template>

<style lang="scss" scoped>
    .search {
        position: relative; 
        width: 100%;

        button {
            background: $red;
            padding: 10px 25px;
            color: #fff;
            border-radius: 20px;
            position: absolute;
            right: 0;
            height: 100%;
            
            @include lg {
                font-size: 15px;
            }
        }

        input {
            background: $lightBlue;
            width: -webkit-fill-available;
            padding: 10px;
            border-radius: 20px;
            background: #f4f6f6;
            padding-left: 20px;
            font-size: 16px;
        }
    }
</style>