<template>
    <div>
        <div class="userInfo">  
            <div class="userInfo__left">
                <Personal :edit="edit" :user="personal" @editUser="editPersonal = $event"/>
            </div>
            <div class="userInfo__left">
                <Address :edit="edit" :user="address"  @editUser="editAddress = $event"/>
            </div> 
        </div>
        <div class="infoActions">
            <div>
                <button style="background: #EBEDEF; border-radius: 10px;" @click="password = true">
                    <span class="material-icons-outlined">lock</span>
                    <b>Change Password</b>
                </button>
            </div>
            <div class="infoActions__actions">
                <button class="blueBtn" @click="edit = true" v-if="!edit">
                    <span class="material-icons-outlined">edit</span>
                    <b>Edit</b>
                </button>
                <button class="blueBtn" v-else @click="save">
                    <span class="material-icons-outlined">done</span>
                    <b>Save</b>
                </button>
                <button style="background: #EBEDEF; border-radius: 10px;" v-if="edit" 
                @click="cancel"
                >
                    <span class="material-icons-outlined">close</span>
                    <b>Cancel</b>
                </button>
                <button>
                    <span class="material-icons-outlined">delete</span>
                    <b>Delete User</b>
                </button>
            </div>
        </div>
        <transition name="delayed-slide" mode="out-in">
            <ChangePassword v-if="password" @password="password= $event" :id="user.id"/>
        </transition>
    </div>
</template>
<script>
import Personal from '@/components/user/info/Personal'
import Address from '@/components/user/info/Address'
import ChangePassword from '@/components/user/info/ChangePassword'
import { mapState } from 'vuex'
import { EDIT_USER } from '@/graphql/user'
export default {
    components: {
        Personal, Address, ChangePassword
    },
    data() {
        return {
            edit: false,
            editPersonal: {},
            editAddress: {},
            personal: {},
            address: {}, 
            password: false
        }
    },
    computed: {
        ...mapState('user', ['user']),
    },
    mounted() {
        this.setUser()
    },
    watch: {
        user: {
            handler(val){
                if(val) {
                    this.setUser()
                }
            }
        }
    },
    methods: {
        setUser() {
            this.personal = {
                name: this.user.name,
                surname: this.user.surname,
                email: this.user.email,
                phone: this.user.phone,
            }

            this.address = {
                street: this.user.street,
                house: this.user.house,
                cpf: this.user.cpf,
                postcode: this.user.postcode,
            }
        },
        async save() {
            const id = this.user.id
            const { name, surname, email, phone } = this.editPersonal
            const { street, house, postcode, cpf } = this.editAddress

            try {
                let response = await this.$apollo.mutate({
                    mutation: EDIT_USER,
                    variables: {
                        id, name, surname, email, phone, street, house, postcode, cpf
                    }
                }) 

                let user = response.data.editUser.user
                this.$store.commit('user/SET_USER', user)

                this.edit = false

                this.$store.commit('DISPLAY_NOTIFICATION', {
                    display: true, 
                    status: true, 
                    msg: `User has been updated!`
                })
                
            } catch(er) { console.log(er) }
        },
        cancel() {
            this.edit = false
            this.setUser()
        }
    }
}
</script>
<style lang="scss" scoped>
    .userInfo {
        display: grid;

        @include lg {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 80px;
        }
    }

    .infoActions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        &__actions {
            display: flex;
            align-items: center;
        }

        .blueBtn {
            width: initial;
        }

        button {
            display: flex;
            align-items: center;
            margin: 0 10px;
            padding: 10px 30px 10px 20px;

            b {
                padding-left: 10px;
            }
        }
    }
</style>