<template>
    <div class="offer">
        <div class="offer__header" @click="$router.push({name: 'Product'})">
            <div style="display: flex; align-items: center;">
                <div class="badge">-10%</div>
                <div class="new">NEW !</div>
            </div>
            <button class="offer__favourite">
                <span class="material-icons-outlined">favorite_border</span>
            </button>
        </div>
        <div class="offer__img">
            <img src="../../../assets/13.jpg" alt="">
        </div>
        <div class="offer__txt">
            <strong>Shell Winter 4L</strong>
            <span>ScreenWash</span>
        </div>

        <div class="offer__price">
            <span>R$ 44,99</span>
            <b>R$ 55.99</b>
        </div>

        <div class="offer__actions">
            <button class="blueBtn">Add to cart</button>
        </div>
    </div>
</template>
<style lang="scss" scoped>
    .offer {
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.2);
        padding: 20px;
        border-radius: 10px; 
        transition: .3s;
        margin: 10px 0;

        @include lg {
            margin: initial; 
        }

        img {
            transition: .3s;
        }

        &:hover {
            cursor: pointer;
            // transform: scale(1.05);

            img {
                transform: scale(1.1);
            }
        }

        &__actions {
            display: flex;
            justify-content: center;
            margin: 30px 0 10px;
            button {
                &:hover {
                    opacity: .8;
                }

                width: initial;
            }
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__favourite {
            .material-icons-outlined {
                color: #bebebe;
                transition: .3s;
            }

            &:hover {
                .material-icons-outlined {
                    color: $red;
                }
            }
        }

        &__price {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                color: $red;
                font-weight: 800;
                font-size: 24px;
            }

            b {
                font-size: 20px;
                text-decoration: line-through;
                text-decoration-thickness: 3px;
            }
        }

        &__img {
            margin: 30px 0;
            display: flex;
            justify-content: center;

            img {
                max-height: 200px;
            }
        }

        &__txt {
            display: flex;
            flex-direction: column;
            align-items: center;

            strong {
                font-size: 18px;
                margin-bottom: 5px;
                // font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                transition: .3s;
            }

            span {
                color: #bbb;
                font-size: 14px;
            }
        }
    }
    .badge {
        background: $darkBlue; 
        font-family: 'Rubik', sans-serif;
        padding: 10px 20px;
        color: white;
        border-radius: 20px;
    }
    .new {
        font-family: 'Rubik', sans-serif;
        padding: 5px 20px;
        font-weight: 800;
        color: $red;
        border-radius: 20px;
    }
</style>
