<template>
    <div class="container about">
        <img src="../../assets/logo.jpg" alt="">
        <p>
            Somos uma loja apaixonada por carros, caminhões e motos. Nosso foco é oferecer o melhor em autopeças, pneus e acessórios para você e seu veículo. Temos como missão garantir que a sua experiência na Hipervarejo seja perfeita. Para isso, vivemos em uma busca constante por produtos de qualidade e excelência no atendimento.
        </p>
    </div>
</template>

<style lang="scss" scoped>
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        flex-direction: column;
        
        @include lg {
            flex-direction: row;
        }

        img {
            margin-right: 60px;
            max-height: 50px;
        }
        
        p {
            color: #8b95a7;
            line-height:24px;
            max-width: 1200px;
        }
    }
</style>
