<template>
    <div>
        <About />
        <Newsletter />
        <Footer />
    </div>
</template>
<script>
import About from '@/components/common/About'
import Newsletter from '@/components/common/Newsletter'
import Footer from '@/components/common/Footer'

export default {
    components: {
        About, Newsletter, Footer,
    }
}
</script>