<template>
    <div class="footerBox">
        <div class="container">
            <div class="footer"> 
                <div class="footer__item">
                    <h6>AJUDA</h6>
                    <ul>
                        <li><a href="">Centeral de Atendimento</a></li>
                        <li><a href="">Trocas e Devoluções</a></li>
                        <li><a href="">Prazos e Entregas</a></li>
                        <li><a href="">Seguranca</a></li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h6>INSTITUCIONAL</h6>
                    <ul>
                        <li><a href="">Quem Somos</a></li>
                        <li><a href="">Política de Privacidade</a></li>
                    </ul>

                    <span>0800 000 0000</span>
                    <span>Seg. a Sex. - 9h as 17h</span>
                </div>
                <div class="footer__item">
                    <h6>PAGAMENTO</h6>
                    <img src="../../assets/payment.png" alt="">
                </div>
                <div class="footer__item">
                    <h6>SOCIAL MEDIA</h6>
                    <div class="footer--socialMedia">
                        <img src="../../assets/fb.png" alt="">
                        <img src="../../assets/instagram.png" alt="">
                        <img src="../../assets/whatsappgreen.png" alt="">
                    </div>
                </div>
            </div>
            <p class="footer__disclaimer">The data shown here, especially the complete database, may not be copied. It is strictly prohibited to duplicate the data and database and distribute the same, and/or instruct third parties to engage in such activities, without prior consent from TecAlliance. Any use of content in a manner not expressly authorized constitutes copyright infringement and violators will be prosecuted.
                2021 &copy; All rights reserved.
            </p>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .footerBox {
        background: $darkBlue;
        color: #e9eced;
        padding-bottom: 20px;
    }

    .footer {
        padding: 40px 0;
        display: grid;
        grid-row-gap: 30px;

        @include lg {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 40px;
        }

        &__disclaimer {
            opacity: .5;
            line-height: 24px;
            font-size: 12px;
        }

        &--socialMedia {
            display: flex;
            align-items: center;
            margin-top: 30px;

            img {
                max-width: 30px !important;
                border-radius: 10px;
                margin: 0 10px;
            }
        }

        a {
            color: #a7adb4;
            transition: .3s;

            &:hover {
                color: white;
            }
        }

        span {
            color: #a7adb4;
            display: block;
            margin: 10px 0;
            font-weight: 600;
        }

        img {
            max-width: 400px
        }

        ul {
            padding: 0; 
            
            li {
                padding: 10px 0;
                list-style: none;

            }
        }

        &__item {
            h6 {
                margin: 0;
                font-size: 16px;
                opacity: .7;
                font-family: 'Rubik', sans-serif;   
                font-weight: 500;
            }
        }
    }
</style>
