<template>
    <header>
        <TopHeader />
        <div class="container">
            <div class="header">
                <div class="header__logo">
                     <router-link to="/" class="logo">
                     <img src="../../assets/logo.jpg" alt=""></router-link>
                    <div class="hamburger">hamburger</div>
                </div>
                <div class="header__menu">
                    <div class="header__search">
                        <Search />
                    </div>
                    <div class="header__rightMenu">
                        <RightMenu @login="login = $event"/>
                    </div>
                </div>
            </div>
        </div>
        <Menu />
        <transition name="delayed-slide" mode="out-in">
            <Login v-if="login" @login="login = $event"/>
        </transition>
    </header>
</template>

<script>
import TopHeader from '@/components/common/TopHeader'
import Menu from '@/components/common/Menu'
import Search from '@/components/common/header/Search'
import RightMenu from '@/components/common/header/RightMenu'
import Login from '@/views/Login'

export default {
    components: {
        TopHeader, Search, RightMenu, Menu, Login,
    },
    data() {
        return {
            login: false
        }
    }
}
</script>
<style lang="scss" scoped>
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include lg {
            padding: 30px 0;
            flex-direction: row;
            justify-content: space-between;
        }

        &__logo {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin: 20px 0 0;

            @include lg {
                width: initial;
                margin: initial; 
            }
        }

        &__search {
            width: 100%; 
            margin: 30px 0;

            @include lg {
                display: flex;
                justify-content: center;
                margin: 0 50px;
            }

            .search {
                max-width: 800px;
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;

            @include lg {
                flex-direction: row;
                align-items: center;
            }
        }

        &__rightMenu {
            margin: 5px 0;

            @include lg {
                margin: initial; 
            }
        }
    }

    .hamburger {
        @include lg {
            display: none;
        }
    }

    .logo {
        img {
            max-width: 150px;
        }
    }


</style>

