<template>
    <div class="infoBox">
        <div class="container">
            <div class="info">
                <div v-for="(info, index) in infos" :key="index">
                    <div class="box">
                        <div class="box__icon">
                            <span class="material-icons-outlined">{{info.icon}}</span>
                        </div>
                        <div class="box__txt">
                            <h4>
                                <span>{{info.strong}}</span> {{info.desc}}
                            </h4>
                            <p>{{info.p}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['infos']
}
</script> 
<style lang="scss" scoped>
    .infoBox {
        background: $darkGray;
        margin-bottom: 20px;
    }

    .info {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }

   .box {
       display: flex;
       align-items: center;
       color: $darkBlue;
       font-family: 'Rubik', sans-serif;
       padding: 0 20px;
       margin: 10px 0;

       @include lg {
            padding: initial;
            justify-content:center;
            margin: initial;
       }

       &__icon {
           position: relative;
           top: 5px;
           opacity: .4;

           .material-icons-outlined {
               font-size: 32px;
           }
       }

       &__txt {
           padding-left: 30px;

           h4, p {
               margin: 0;
           }

           h4 {
               font-family: 'Rubik', sans-serif; 
               
               @include lg {
                   font-size: 21px;
                   font-weight: 700;
               }

               margin: 5px 0;
           }

            span {
                color: $red;
                font-weight: 700;
            }

            p {
                font-weight: 400;
                opacity: .5;
            }
       }
   }
</style>
