<template>
    <div class="menuBox">
        <div class="container">
            <div class="menu">
                <div class="menu__display"
                @mouseover="hover = true"
                @mouseleave="hover = false"
                >
                    <button
                    v-for="(item, index) in menu"
                    :key="index"
                    @mouseover="hovered = item"
                    >{{item}}</button>
                </div>
                <transition name="fade">
                    <div class="menu__hover" v-if="hover">hover</div>
                </transition>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            menu: [
                'todos', 'autopecas', 'electrica', 'accessorios externos', 'accessorios interios', 'farol e iluminacao', 'alarme e seguranca'
            ],
            hover: false,
            hovered: ''
        }
    },
}
</script>
<style lang="scss" scoped>
    .menuBox {
        background: $blue;
        position: absolute;
        width: 100%;
        top: 270px;
        height: 100%;

        @include lg {
            position: relative;
            top: 0;
        }
    }

    .menu {
        color: $gray;
        position: relative;

        &__hover {
            position: absolute;
            color: black;
            box-shadow: 0 0.1rem 0.4rem rgba(0,0,0, .1);
            padding: 20px;
            width: 100%;
            background: white;
            z-index: 999;
        }

        &__display {
            display: flex;
            flex-direction: column;

            @include lg {
                justify-content: space-between;
                flex-direction: row;
            }

            button {
                color: $gray;
                font-weight: 500;
                padding: 20px 30px;
                position: relative;

                &:first-child {
                    &:after {
                        content: '';
                        background: rgba(255,255,255, .1);
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                }

                @include lg {
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>