<template>
    <div class="newsletterBox">
        <div class="container">
            <div class="newsletter">
                <div class="newsletter__left">
                    <h1>CLUBE DE OFERTAS</h1>
                    <p>Cadastre-se, receba novidades e compre com descontos!</p>
                </div>
                <div class="newsletter__right">
                    <input type="text" placeholder="Digite seu nome">
                    <input type="text" placeholder="Digite seu e-mail">
                    <input type="text" placeholder="Modelo do carro">
                    <input type="text" placeholder="Ano">
                    <button class="blueBtn">EVIAR</button>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>

    .newsletterBox {
        background: #e9eced;
        color: $darkBlue; 
        margin-bottom: 30px;

    }

    .newsletter {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 20px 0;
        @include lg {
            flex-direction: row;
        }

        &__right {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            width: 100%;
            
            @include lg {
                flex-direction: row;
                margin: initial;
                width: initial;
            }

            input {
                margin: 10px 10px;
                padding: 15px;
                border-radius: 999px;
                border: none;
                font-family: 'Rubik', sans-serif;
                
                @include lg {
                    margin: 0px 10px;
                }

                &:focus {
                    outline: none;
                }
            }

            .blueBtn {
                border-radius: 999px;
                margin-left: 10px;
                width: initial;
                margin-top: 10px;

                @include lg {
                    margin: initial
                }
            }
        }

        &__left {
             h1 {
                font-family: 'Montserrat', sans-serif;
                color: $darkBlue;
                font-weight: 800;
                margin: 0;
                
                @include lg {
                    font-size: 28px;
                }
            }

            p {
                color: black;
                opacity: .5;
                margin: 0;
                margin-top: 5px;
            }
        }
    }
</style>
