<template>
    <div 
    class="notification"
    :class="{'notification--green': notification.status}"
    >
        <div class="notification--line"></div>
        <b>
            <span class="material-icons-outlined">done</span>
            {{notification.msg}}</b>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    computed: {
        ...mapState({
            notification: state => state.notification,
        })
    }
}
</script>
<style lang="scss" scoped>
    .notification {
        position: absolute;
        bottom: 10px;
        right: 0;
        padding: 20px 25px;
        z-index: 99999999;

        &--green {
            background: white;
            box-shadow: 0 0.1rem 0.4rem rgba(0,0,0, .3);

            // background: #dcf3d6;
            color: #27AE60;
        }

        &--line {
            background: #27AE60;
            height:100%;
            width: 5px;
            position: absolute;
            left: 0;
            top: 0;
        }

        b {
            font-weight: 600;
            padding: 0 20px 0 0;
            display: flex;
            align-items: center;

            span {
                margin-right: 20px;
            }
        }
    }
</style>