<template>
    <div class="select">
        <button @click="$emit('open', index)" :class="{'active': select.open}">
            <div class="select__number">{{index+1}}</div>
            <div class="select__input">
                <span>{{select.placeholder}}</span>
            </div>
            <span class="material-icons-outlined">expand_more</span>
        </button>
        <div class="select__after">
            <span class="material-icons-outlined dots">more_vert</span>
        </div>
        <div class="select__content scroll" v-if="select.open">
            <button
            v-for="(item, item_index) in dropdown"
            :key="item_index"
            @click="$emit('selected', item)"
            >
            <img :src="item.logo" alt="" v-if="index === 0">
            <b>{{index != 0 ? item :item.name}}</b>
            </button>
        </div>
    </div>
</template>
<script> 
export default {
    props: ['select', 'index', 'dropdown'],
    data() {
        return {
            selected: null
        }
    }
}
</script>
<style lang="scss" scoped>
    .select {
        border: 1px solid #e9eced;
        padding: 10px;
        color: #212733; 
        font-family: 'Rubik', sans-serif;
        margin: 15px 0;
        position: relative;
        border-radius: 10px;
        background: white; 

        .active {
            background: #f5f5f5; 
            border-radius: 10px;
            padding: 10px 15px;
            opacity: .4;
        }

        &__content {
            // background: $lightBlue; 
            margin: 15px 0;
            max-height: 250px;
            border-radius: 10px;

            button {
                padding: 10px 15px;
                transition: .3s;
                text-align: center;
                border-radius: 10px;

                &:hover {
                    background: $lightBlue;
                }
            }

            img {
                max-width: 60px;
                margin-right: 30px;
            }
        }

        .material-icons-outlined{
            color:$red !important;
            
        }
        &__after {
            position: absolute;
            top: 50px;
            left: 20px;
            z-index: -1;
        }
        

        button {
            display: grid;
            grid-template-columns: auto 1fr 20px;
            align-items: center;
            font-size: 16px;
            width: 100%;
            text-align: left;
            z-index: 99;
        }

        &__number {
            border: 0.2rem solid $red;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            width: 25px;
            height: 25px;
            font-weight: 600;
            font-size: 13px;
            
        }
        
        &__input {
            padding: 0 20px;
            font-weight: 800;

            input {
                width: -webkit-fill-available;
                border: none;
            }
        }
    }
</style>
