<template>
    <section class="topHeaderBox">
        <div class="container topHeader">
            <div class="topHeader__item">
                <img src="../../assets/whatsapp.png" alt="">
                <strong>Entre em contato</strong>
            </div>
            <div class="topHeader__item">
                <img src="../../assets/phone.jpg" alt="">
                <strong>0800 000 0000</strong>
            </div>
            <div class="topHeader__item">
                <img src="../../assets/time.png" alt="">
                <strong>Seg. a Sex. - 9h as 17h</strong>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    .topHeaderBox {
        background: $lightBlue;
    }

    .topHeader {
        padding: 10px;
        display: flex;
        justify-content: flex-end;

        &__item {
            display: flex;
            align-items: center;
            opacity: 0;

            @include lg {
                margin: 0 15px;
                opacity: 1;
            }
        }
        
        img {
            max-width: 18px;
        }

        strong {
            @include lg {
                font-size: 13px;
            }

            padding-left: 10px;
        }

    }
</style>