<template>
    <button class="tab" 
    @click="setTab(tab)">
        <div class="tab__img">
             <img :src="require('../../../assets/' + tab.img + '.png')" />
        </div>
        <div class="tab__txt">
            <strong>{{tab.name}}</strong>
        </div>
    </button>
</template>
<script>
export default {
    props: ['tab']
}
</script>
<style lang="scss" scoped>
    .tab {
        padding: 20px;
        border-radius: 10px; 
        transition: .3s;
        color: $darkBlue; 
        font-family: 'Rubik', sans-serif;
        margin: 10px 0;
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.2);
        width: 100%;
        transition: .3s;
        
        @include lg {
            margin: initial;
            font-size: 16px;
        }

        &:hover {
            box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.2);
        }

        img {
            transition: .3s;
        }

        strong { 
            font-weight: 600;
            margin: 20px 0 0;
        }

        &:hover {
            cursor: pointer;

            img {
                transform: scale(1.1);
            }

            color: $red;
        }

        &__img {
            display: flex;
            justify-content: center; 
            max-height: 150px;

            img {
                max-width: 180px;
            }
        }

        &__txt {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
</style>
