<template>
  <div id="app" :class="{ height: notification }">
    <Header />
    <main>
      <router-view />
    </main>
    <transition name="delayed-slide" mode="out-in">
      <Notification v-if="notification.display" />
    </transition>
  </div>
</template>
<script>
import Header from "@/components/common/Header";
import Notification from "@/components/common/Notification";
import { mapState } from 'vuex'
import { VERIFY_USER } from '@/graphql/user'
export default {
  components: {
    Header,
    Notification,
  },
  computed: {
    ...mapState({
      notification: state => state.notification,
    }),
  },
  mounted() {
    // check if user is auth
    this.isAuth()
  },
  watch: {
     notification: {
        handler(val){
            if(val.display) {
                this.hide() 
            } 
        }
    }, 
  },
  methods: {
    hide() {
      setTimeout(() => { 
        this.$store.commit('HIDE_NOTIFICATION')
      }, 3000)
    },
    async isAuth() {
      try {
        let response = await this.$apollo.query({
          query: VERIFY_USER
        })
        
        let user = response.data.verifyUser
        if(user) {
          this.$store.commit('IS_AUTH', true)
        } else { 
          this.$store.commit('IS_AUTH', false)
        }

        this.$store.commit('user/SET_USER', user)
      } catch(er) { console.log(er) }
    },
  }
};
</script>
<style lang="scss">
#app {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.height {
  position: relative;
  height: 100vh;
}

.delayed-slide-enter {
  transform: translateY(-0.5rem);
  opacity: 0;
}

.delayed-slide-leave-to {
  transform: translateY(0.5rem);
  opacity: 0;
}

.delayed-slide-enter-active,
.delayed-slide-leave-active {
  transition: opacity 0.4s ease 0.1s, transform 0.4s ease 0.1s;
}
</style>
