<template>
    <div class="checkoutLogin">
        <div v-if="!loginBox">
            <div class="login__content">
                <input type="text" placeholder="Email" v-model="login.email">
                <input type="text" placeholder="Password" v-model="login.password">
                <button class="blueBtn">Sign In</button>
                <button @click="loginBox = false">Register new account</button>
            </div>
        </div>
        <div v-else>
            <div class="login__content">
                <input type="text" placeholder="First Name" v-model="registration.firstName">
                <input type="text" placeholder="Last Name" v-model="registration.lastName">
                <input type="text" placeholder="Email" v-model="registration.email">
                <input type="text" placeholder="Password" v-model="registration.password">
                <button class="blueBtn" @click="register">Register xxx</button>
                <button>Login</button>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    
    data() {
        return {
            loginBox: true,
            login: {
                email: '',
                password: ''
            },
            registration: {
                firstName: '',
                lastName: '',
                email: '',
                password: '',
            }

        } 
    },
    methods: {
        register() {
            console.log('register')
        }
    }
}
</script>
<style lang="scss" scoped>
    .checkoutLogin {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .login__content {
            max-width: 800px;
            min-width: 400px;

            input {
                margin: 10px 0;
                padding-left: 20px;
            }
        }
    }
</style>