<template>
    <div class="checkoutTabs">
        <div class="checkoutTabs__header" v-if="!authenticated"> 
            <button
            v-for="(item, index) in tabs"
            :key="index"
            :class="{'active': activeTab === index}"
            >{{item}}</button>
        </div>
        <div class="checkoutTabs__header checkoutTabs__header--user" v-else>
            <div>
                <h3>Dados Pessoais</h3>
                <p>Solicitamos apenas as informações essenciais para você fazer sua compra.</p>
            </div>
            <button class="editbtn" @click="$emit('edit', true)">
                Edit
            </button>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    data() {
        return {
            tabs: ['Sign In', 'Buy as a Guest'],
            activeTab: 0
        }
    },
    computed: {
        ...mapState('user', ['authenticated']),
    }
}
</script>
<style lang="scss" scoped>
    .checkoutTabs {
        &__header {
            background: $lightBlue;
            margin-right: 20px;
            border-radius: 10px;
            padding: 5px;

            &--user {
                display: flex;
                justify-content: space-between;
            }

            h3, p {
                padding-left: 20px;
            }
            p {
                opacity: .6;
                margin-top: -15px;
            }

            button {
                padding: 10px 20px;
                opacity: .6;
                
                &:last-child {
                    margin-left: 20px;
                }

                @include lg {
                    font-size: 18px;
                }

                &.active {
                    opacity: 1;
                    font-weight: 600;
                    color: $blue;
                }
            }
        }
    }

    .editbtn {
        font-weight: 600;
    }
</style>