<template>
    <div class="userCheckout">
        <div class="userCheckout__row"> 
            <div class="userCheckout__inputs">
                <div class="userInput">
                    <span>Name:</span> 
                    <input type="text" placeholder="Kasia Pieniazek" v-if="edit">
                    <b v-else>Kasia Pieniazek</b>
                </div>
                <div class="userInput">
                    <span>Email:</span> <b>kasia.pieniazek@hotmail.com</b>
                </div>
                <div class="userInput">
                    <span>Phone:</span> <b>+44 7786 269 816</b>
                </div>
                <div class="userInput">
                    <span>CPF:</span> <b>999.999.999-99</b>
                </div>
            </div>
            <div class="userCheckout__inputs">
                <div class="userInput userInput--column">
                    <span>Address:</span> 
                    <br/>
                    <p>
                        Apto. 123 <br>
                        Rua Dr. Teles - Liberdade <br> Belo Horizonte  MG, 31270-180, Brazil
                    </p>
                </div>
            </div>
        </div>
        <div class="disclaimer"></div>
    </div>
</template>
<script>
export default {
    props: ['edit']
}
</script>

<style lang="scss" scoped>
    .userCheckout {
        margin: 30px 0 0;

        &__row {
            display: grid;

            @include lg {
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 0px;
            }
        }
        
        &__inputs {
            span {
                opacity: .7;
                padding-right: 10px;
            }

            b {
                font-size: 16px;
            }

            p {
                margin-top: -10px;                   
                line-height: 32px;
                font-weight: bold;
            }
        }
    }

    .userInput {
        margin: 15px 0;
        display: flex;
        align-items: center;

        input {
            background: $lightBlue;
            border-radius: 999px;
            padding: 10px 10px 10px 15px;
            // font-weight: bold;

        }

        &--column {
            flex-direction: column;
            align-items: flex-start;
        }
    }
</style>