<template>
    <div class="order">
        <div class="order__item orderItem">
            <div class="orderItem__img">
                <img src="../../assets/tarcza.jpg" alt="">
            </div>
            <div class="orderItem__title">
                <b>Kit Embreagem Fiat Palio</b>
            </div>
            <div class="orderItem__price">
                <strong>R$ 130.99</strong>
            </div>
            <div class="orderItem__quantity">
                <button>
                    <span class="material-icons-outlined">remove</span>
                </button>
                <strong>2</strong>
                <button>
                    <span class="material-icons-outlined">add</span>
                </button>
            </div>
        </div>
        <div class="order__item orderItem">
            <div class="orderItem__img">
                <img src="@/assets/tarcza.jpg" alt="">
            </div>
            <div class="orderItem__title">
                <b>Kit Embreagem Fiat Palio</b>
            </div>
            <div class="orderItem__price">
                <strong>R$ 130.99</strong>
            </div>
            <div class="orderItem__quantity">
                <button>
                    <span class="material-icons-outlined">remove</span>
                </button>
                <strong>2</strong>
                <button>
                    <span class="material-icons-outlined">add</span>
                </button>
            </div>
        </div>
        <div class="order__item orderItem">
            <div class="orderItem__img">
                <img src="@/assets/tarcza.jpg" alt="">
            </div>
            <div class="orderItem__title">
                <b>Kit Embreagem Fiat Palio</b>
            </div>
            <div class="orderItem__price">
                <strong>R$ 130.99</strong>
            </div>
            <div class="orderItem__quantity">
                <button>
                    <span class="material-icons-outlined">remove</span>
                </button>
                <strong>2</strong>
                <button>
                    <span class="material-icons-outlined">add</span>
                </button>
            </div>

        </div>
        <div class="disclaimer"></div>
        <div class="coupon">
            <div class="coupon__box">
                <label>Coupom de desconto<input type="text"></label>
                <button class="blueBtn">APPLY</button>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .order {
        padding: 20px 0;
    }

    .orderItem {
        display: grid;
        grid-template-columns: 60px auto 100px 200px;
        grid-column-gap: 30px;
        align-items: center;
        margin: 20px 0; 

        img {
            width: 100%;
        }


        &__quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F4F6F6;
            padding: 10px;
            border-radius: 999px;;

            button {
                width: 100%;
            }

            strong {
                width: 100%;
                text-align: center;
            }
        }
    }

    .coupon {
        display: flex;
        justify-content: flex-end;

        &__box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {
                display: flex;
                align-items: center;
                font-weight: bold;
                width: 100%;
            }
        }
        input {
            margin-left: 15px;
            padding: 15px;
            border: none;
            background: #F4F6F6;
            border-radius: 10px;

            &:focus {
                outline: none;
            }
        }

        button {
            width: initial;
            margin-left: 10px;
        }
    }
</style>
