<template>
    <div class="summary">
        <div class="summary__item">
            <p>2x Kit Embreagem Fiat Palio </p><strong>R$230.50</strong>
        </div> 
        <div class="summary__item">
            <p>2x Kit Embreagem Fiat Palio </p><strong>R$230.50</strong>
        </div> 
        <div class="summary__item">
            <p>2x Kit Embreagem Fiat Palio </p><strong>R$230.50</strong>
        </div>
        <hr />
        <div class="summary__item">
            <p>Total </p><strong>R$345.99</strong>
        </div>
        <div class="summary__item summary__item--red">
            <p>Discount </p><strong>R$130.50</strong>
        </div>
        <hr />
        <div class="total">
            <h1><span>Total:</span> <strong>R$235.99</strong></h1>
        </div>
        
        <br />
        <button 
        v-if="$route.name !== 'checkout'"
        class="blueBtn" @click="$router.push({name: 'checkout'})">
            CHECKOUT
        </button>
        <!-- <button v-else class="blueBtn"> 
            Shopping cart
        </button>   -->
    </div> 
</template>
<style lang="scss" scoped>

    .summary {
        background: #F4F6F6;
        border-radius: 10px;
        padding: 20px;
        height: fit-content;

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--red {
                strong {
                    color: #E74C3C;
                }
            }
        }
    }

    .total {
        span {
            font-size: 22px;
        }

        h1 {
            width: 100%;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
            color: #212733;
            font-weight: 800;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 20px; 
            align-items: center;
        }
    }
</style>
