<template>
    <div class="form">
        <h5>Adress</h5>
        <hr>
        <div class="form__item">
            <div class="form__input">
                <label for="">Street</label>
                <input type="text" v-if="edit" v-model="user.street"/>
                <div class="static" v-else>{{user.street}}</div>
            </div>
            <div class="form__input">
                <label for="">House/Apartment</label>
                <input type="text" v-if="edit" v-model="user.house"/>
                <div class="static" v-else>{{user.house}}</div>
            </div>
        </div>
        <div class="form__item">
            <div class="form__input"> 
                <label for="">Postcode</label>
                <input type="text" v-if="edit" v-model="user.postcode"/>
                <div class="static" v-else>{{user.postcode}}</div>
            </div>
            <div class="form__input">
                <label for="">CPF</label>
                <input type="text" v-if="edit" v-model="user.cpf"/>
                <div class="static" v-else>{{user.cpf}}</div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['edit', 'user'],
    watch: {
        user: {
            deep: true,
            handler(val) {
                this.$emit('editUser', val)
            }
        }
    }
}
</script>
