<template>
    <div class="passwordBox">
        <div class="password">
            <div class="password__header">
                <h1>Change Password</h1>
                <button @click="$emit('password', false)">
                    <span class="material-icons-outlined">close</span>
                </button>
            </div>
            <div class="password__content">
                <label for="old">
                    <b>Old password:</b>
                    <input type="password" id="old" v-model="password.old" >
                </label>
                <label for="new">
                    <b>New Password</b>
                    <input type="password" id="new" v-model="password.new" :class="{'error': msg !== ''}">
                </label>
                <label for="repeat">
                    <b>Repeat Password</b>
                    <input type="password" id="repeat"  v-model="password.repeat" :class="{'error': msg !== ''}">
                </label>
                <transition name="delayed-slide" mode="out-in">
                    <p class="error" v-if="msg !== ''">{{msg}}</p>
                </transition>
                <button @click="save" class="blueBtn" :class="{'disabled': disabled}">Save</button>
            </div>
        </div>
    </div>
</template>
<script>
import { CHANGE_PASSWORD } from '@/graphql/user'
export default {
    props: ['id'],
    data() {
        return {
            password: {
                old: null,
                new: null,
                repeat: null
            },
            disabled: true,
            msg: ''
        }
    },
    watch: {
        password: {
            deep: true,
            handler(val) {
                this.msg = ''
                if(val.repeat && val.new && val.old) {
                    this.disabled = false
                } else { 
                    this.disabled = true
                }
            }
        }
    },
    methods: {
        async save() {
            if(this.password.new !== this.password.repeat) {
                this.msg = 'Passwords are not equal.'
            } else {
                let oldPassword = this.password.old
                let newPassword = this.password.new
                let id = this.id

                try {
                    let result = this.$apollo.mutate({
                        mutation: CHANGE_PASSWORD,
                        variables: {
                            id, oldPassword, newPassword
                        }
                    })

                    console.log(result)
                } catch(er) { console.log(er) }
            }

        }
    }
}
</script>

<style lang="scss" scoped>
    .passwordBox {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background: rgba(33, 39, 51, .7);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .password {
        background: white;
        padding: 20px;
        border-radius: 10px;
        min-width: 400px;

        &__header {
            display: flex;
            justify-content: space-between;

            h1 {
                font-family: 'Montserrat', sans-serif;
                color: $darkBlue;
                font-weight: 800;
                
                @include lg {
                    font-size: 28px;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            label {
                display: flex; 
                flex-direction: column;
                margin: 10px 0;

                b {
                    font-weight: 500;
                    padding-left: 10px;
                    opacity: .6;
                }
            }

            input {
                margin: 15px 0 0 0;
                padding: 15px;
                border-radius: 999px;
                border: none;
                background: #F4F6F6;
                padding-left: 15px;
                font-family: 'Rubik', sans-serif;   

                &.error { 
                    color: #CB4335;
                    border: 1px solid #CB4335;
                }

                &:focus {
                    outline: none;
                }
            }

            button {
                margin-top: 20px;
                font-family: 'Rubik', sans-serif;   
            }
        }
    }

    p.error {
        text-align: center;
        background: #FADBD8;
        color: #CB4335;
        padding: 20px 0;
        border-radius: 10px;
        font-weight: 600;
        text-align: center;
    }
</style>