<template>
    <div class="form">
        <h5>Personal Information</h5>
        <hr>
        <div class="form__item">
            <div class="form__input">
                <label for="">Name</label> 
                <input type="text" v-if="edit" v-model="user.name"/>
                <div class="static" v-else>{{user.name}}</div>
            </div>
            <div class="form__input">
                <label for="">Surname</label>
                <input type="text" v-if="edit" v-model="user.surname"/>
                <div class="static" v-else>{{user.surname}}</div>
            </div>
        </div> 
        <div class="form__item">
            <div class="form__input">
                <label for="">E-mail</label>
                <input type="text" v-if="edit" v-model="user.email"/>
                <div class="static" v-else>{{user.email}}</div>
            </div>
            <div class="form__input">
                <label for="">Phone number</label>
                <input type="text" v-if="edit" v-model="user.phone"/>
                <div class="static" v-else>{{user.phone}}</div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['edit', 'user'], 
    watch: {
        user: {
            deep: true,
            handler(val) {
                this.$emit('editUser', val)
            }
        }
    }
}
</script>

<style lang="scss">
    .form {
        hr {
            opacity: .4;
        }

        h5 {
            margin: 0;
            opacity: .5;
        }

        &__input {
            display: flex;
            flex-direction: column;
            // width: 100%;
            // margin: 0 10px;
        }

        &__item {
            display: grid;
            margin: 30px 0;

            @include lg {
                grid-column-gap: 20px;
                grid-template-columns: repeat(2, auto);
            }
        }

        label {
            margin-bottom: 10px;
            padding-left: 20px;
            opacity: .6; 
        }

        input {
            background: #f4f6f6;
            padding: 10px 20px;
            border-radius: 20px;
            font-weight: 500;
            font-size: 16px;
            border: .1em solid #bbb;
        }
    }

    .static {
        background: #f4f6f6;
        padding: 10px 20px;
        border-radius: 20px; 
        font-weight: 600;
        height: 20px;
    }
</style>