<template>
    <div>
        <div class="container">
            <div class="checkout">
                <div class="checkout__left">
                    <Tabs @edit="edit = $event"/>
                    <User :edit="edit" v-if="authenticated"/>
                    <Login v-if="!authenticated"/>
                    <Payment v-if="authenticated"/>
                </div>
                <Summary />
            </div>
        </div>

        <FooterBottom />
    </div>
</template>
<script>
import FooterBottom from '@/components/common/FooterBottom'
import Summary from '@/components/shoppingList/Summary'
import Tabs from '@/components/checkout/Tabs'
import User from '@/components/checkout/User'
import Login from '@/components/checkout/Login'
import Payment from '@/components/checkout/Payment'
import { mapState } from 'vuex'

export default {
    components: {
        FooterBottom, Summary, Tabs, User, Payment, Login
    },
    data() {
        return {
            edit: false
        }
    },
    computed: {
        ...mapState('user', ['authenticated']),
    }
}
</script>
<style lang="scss" scoped>
    .checkout {
        padding: 30px 0;
        display: grid;
        grid-template-columns: 1fr 350px;

        &__right {
            background: #eee;
            padding: 10px;
        }
    }
</style>
