<template>
  <section class="home">
    <div class="container">
      <div class="home__search">
        <AdvancedSearch />
        <Banner />
      </div>
    </div>
    <Info :infos="infos"/>
    <Tabs />
    <Manufactures />
    <Offers :title="title"/>
    <Newsletter />
    <About />
    <Footer />
  </section>
</template>

<script>
import AdvancedSearch from '@/components/home/AdvancedSearch'
import Banner from '@/components/home/Banner'
import Tabs from '@/components/home/Tabs'
import Offers from '@/components/home/Offers'
import Manufactures from '@/components/home/Manufactures'
import Info from '@/components/common/Info'
import Newsletter from '@/components/common/Newsletter'
import About from '@/components/common/About'
import Footer from '@/components/common/Footer'

export default {
  name: 'Home',
  components: {
    AdvancedSearch, Banner, Info, Tabs, Offers, Newsletter, About, Footer, Manufactures
  },
  data() {
    return {
      infos: [
        {
            'icon': 'settings',
            'strong': 'Over 80 000', 
            'desc': 'replacement parts',
            'p': 'from over 30 000 types of vehicles'
        },
        {
            'icon': 'local_shipping',
            'strong': 'Free', 
            'desc': 'shipping',
            'p': 'for the orders over 350 $BRL'
        },
        {
            'icon': 'keyboard_return',
            'strong': '14-days', 
            'desc': 'of complaint',
            'p': 'return/exchange with a free shipping'
        },
      ],
      title: 'Recent Top Deals',
    }
  }
}
</script>
<style lang="scss" scoped>
  .home {
    &__search {
      display: grid;

      @include lg {
        grid-template-columns: 500px 1fr;
        grid-column-gap: 100px
      }
    }
  }
</style>