<template>
    <div class="loginBox">
        <div class="login">
            <div class="login__header">
                <h1>{{register ? 'Register new user' : 'Sign In'}}</h1>
                <button @click="$emit('login', false)">
                    <span class="material-icons-outlined">close</span>
                </button>
            </div>

            <div class="login__content" v-if="register">
                 <input type="text" placeholder="First Name" v-model="registration.name">
                <input type="text" placeholder="Last Name" v-model="registration.surname">
                <input type="email" placeholder="Email" v-model="registration.email">
                <input type="password" placeholder="Password" v-model="registration.password">
                <button class="blueBtn" @click="newUser" :disabled="disabled" :class="{'disabled': disabled}">Register</button>
                <button @click="register = false">Login</button>
            </div>
            <div class="login__content" v-else>
                <input type="email" placeholder="Email" v-model="login.email">
                <input type="password" placeholder="Password" v-model="login.password">
                <button class="blueBtn" @click="userLogin">Sign In</button>

                <button @click="register = true">Register new account</button>
            </div>
        </div>
    </div>
</template>
<script>
import { NEW_USER, LOGIN } from '@/graphql/user'
export default {
    name: "Login",
    data() {
        return {
            register: false,
            login: {
                email: null,
                password: null
            },
            registration: {
                name: null,
                surname: null,
                email: null,
                password: null,
            },
            disabled: true
        }
    },
    watch: {
        registration: {
            deep: true,
            handler(val) {
                // validation -> check if all fileds are not empty
                const { name, surname, email, password } = val
                if(name && surname && email && password) {
                    this.disabled = false
                } else { this.disabled = true }
            }
        }
    },
    methods: {
        async newUser() {
            const { name, surname, email, password } = this.registration
            if(!this.disabled) {
                try {
                    let result = await this.$apollo.mutate({
                        mutation: NEW_USER,
                        variables: {
                            name, surname, email, password
                        },
                    })
                    this.register = false

                    const user = result.data.newUser.user.name                    
                    this.$store.commit('DISPLAY_NOTIFICATION', {
                        display: true, 
                        status: true, 
                        msg: `User: ${user} has been created!`
                    })

                    this.registration = {
                        name: null,
                        surname: null,
                        email: null,
                        password: null,
                    }
                } catch(er) {
                    console.log(er)
                }
            }
        },
        async userLogin() {
            try {
                const { email, password} = this.login
                let response = await this.$apollo.mutate({
                    mutation: LOGIN,
                    variables: {
                        email, password
                    }
                })
                let user = response.data.login.user
                this.$store.commit('user/SET_USER', user)
 
                this.login = {
                    email: null,
                    password: null,
                }  
                this.register = false
                this.$emit('login', false)

            } catch(er) {
                console.log(er)
            }
        }
    }
}
</script>
 
<style lang="scss" >
    .loginBox {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background: rgba(33, 39, 51, .7);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .disabled {
        opacity: .7;
        pointer-events: none;
    }

    .login {
        background: white;
        padding: 20px;
        border-radius: 10px;
        min-width: 400px;

        &__header {
            display: flex;
            justify-content: space-between;

            h1 {
                font-family: 'Montserrat', sans-serif;
                color: $darkBlue;
                font-weight: 800;
                
                @include lg {
                    font-size: 32px;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            // margin: 20px 0;

            input {
                margin: 15px 0 0 0;
                padding: 15px;
                border-radius: 999px;
                border: none;
                background: #F4F6F6;
                padding-left: 15px;
                font-family: 'Rubik', sans-serif;   

                &:focus {
                    outline: none;
                }
            }

            button {
                margin-top: 20px;
                font-family: 'Rubik', sans-serif;   
            }
        }
    }
</style>
