<template>
    <div>
        <div class="container">
            <div class="shoppingList">
                <h1>Shopping Cart (3)</h1>
                <div class="shoppingList__main">
                    <Order />
                    <Summary />
                </div>
            </div>
            <div class="disclaimer"></div>
        </div>
        <FooterBottom />
    </div>
</template>
<script>
import Order from '@/components/shoppingList/Order'
import Summary from '@/components/shoppingList/Summary'
import FooterBottom from '@/components/common/FooterBottom'

export default {
    components: {
        Order, Summary, FooterBottom
    }
}
</script>

<style lang="scss" scoped>
    .shoppingList {
        margin: 40px 0;

        &__main {
            display: grid;
            grid-column-gap: 80px;
            align-items: center;

            @include lg {
                grid-template-columns: 1fr 350px;
            }
        }

    }
</style>