<template>
<div>
    <div class="userBox">
        <div class="userBox__left">
            <h1>User Profile</h1>
            <div class="userMenu">
                <button :class="{'active': active === 'info'}">
                    <span class="material-icons-outlined">face</span>
                    <b>User Info</b>
                </button>
                <button>
                    <span class="material-icons-outlined">favorite_border</span>
                    <b>Favorite</b>
                </button>
                <button>
                    <span class="material-icons-outlined">directions_car</span>
                    <b>My garage</b>
                </button>
                <button>
                    <span class="material-icons-outlined">logout</span>
                    <b>Log Out</b>
                </button>
            </div>
        </div>
        <div class="userBox__right">
            <Info />
        </div>
    </div>
    <Footer />
</div>
</template>
<script>
import Footer from '@/components/common/Footer'
import Info from '@/components/user/Info'
export default {
    components: {
        Footer, Info
    },
    data() {
        return {
            active: 'info'
        }
    },
}
</script>
<style lang="scss" scoped>
    .userBox {
        display: grid;
        @include lg {
            grid-template-columns: 300px 1fr;
        }
        &__left {
            background: #F4F6F6;

            h1 {
                font-size: 20px;
            }

            @include lg {
                padding: 50px 0 50px 100px;
            }
        }

        &__right {
            @include lg {
                padding: 50px;
            }
        }
    }

    .userMenu {
        display: flex;
        flex-direction: column;
        margin: 30px 0;

        button {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 20px 0;
            font-size: 16px;
            position: relative;
            color: #8b95a7;
            transition: .3s;

            &:hover {
                color: #17608d;
            }
            

            &:after {
                content: '';
                position: absolute;
                height: 100%;
                width: 5px;
                background: #17608d;
                opacity: 0;
                right: 0;
            }

            &.active {
                &:after {
                    opacity: 1;
                }

                color: #17608d;

                b {
                    font-weight: 600;
                }
            }

            b {
                padding-left: 10px;
                font-weight: 500;
                transition: .3s;
            }
        }
    }
</style>