@import "@/assets/scss/_colors.scss";

body, input, button {
    font-family: 'Rubik', sans-serif; 
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: $darkBlue;
    font-weight: 800;
    margin: 0;
    
    @include lg {
        font-size: 32px;
    }
}

.disabled {
    opacity: .6;
    pointer-events: none;
}

button {
    border: none;
    background: none;

    &:hover {
        cursor: pointer;
    }
}

input {
    border: none;

    &:focus {
        outline: none;
    }
}

a {
    color: black;
    text-decoration: none;
}

.blueBtn {
    background: $blue;
    padding: 15px 10px;
    color: $gray;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    transition: .3s;

    &:hover {
        opacity: .8;
    }
}


.disclaimer {
    margin: 30px 0;
    background: #e9eced; 
    width: 100%;
    height: 1px;
  }
  
  .scroll {
      overflow: auto;

      &::-webkit-scrollbar {
        width: 1em;
      }

      &::-webkit-scrollbar-track {
          background: $darkGray;
        // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
        // outline: 3px solid slategrey;
      }
  }

  
  .shopNow {
    font-weight: 600;
    border: 0.2rem solid $blue;
    color: $blue;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    background: white;
    transition: .3s;

    &:hover {
        background: $blue;
        color: white;
    }
}

.cta {
    display: flex;
    justify-content: center;
    max-width: 470px;
}

.row {
    display: flex;
    align-items: center;

    &--spaceBetween {
        justify-content: space-between;
    }
}